@mixin alignitems($al) {
	-webkit-align-items: $al;
	-ms-align-items: $al;
	-moz-align-items: $al;
	align-items: $al;
}

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;		
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}

@mixin bp-medium {
	@media only screen and (max-width: 1024px) {
		@content;
	}
}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}


@mixin bp-small{
	@media only screen and (max-width: 480px){
		@content;
	}
}

@mixin flex-basis($fb) {
	-webkit-flex-basis: $fb;
	-moz-flex-basis: $fb;
	-ms-flex-basis: $fb;
	flex-basis: $fb;
}

@mixin font-size($size){
	font-size: $size;
	font-size: calcrem($size);
}
@mixin flex-wrap($value: nowrap) {
	// No Webkit Box fallback.
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else { 
		-ms-flex-wrap: $value; 
	}
	flex-wrap: $value;
}
